*.xml
*.jpg
*.zip
*.pyc
*.pyh
siamese-triplet/data/MNIST/MNIST/raw/t10k-labels-idx1-ubyte
*.pt
siamese-triplet/data/FashionMNIST/FashionMNIST/raw/train-images-idx3-ubyte
siamese-triplet/data/MNIST/MNIST/raw/t10k-images-idx3-ubyte
siamese-triplet/data/FashionMNIST/FashionMNIST/raw/train-labels-idx1-ubyte
siamese-triplet/data/MNIST/MNIST/raw/train-images-idx3-ubyte
siamese-triplet/data/MNIST/MNIST/raw/train-labels-idx1-ubyte
siamese-triplet/data/FashionMNIST/FashionMNIST/raw/t10k-labels-idx1-ubyte
siamese-triplet/data/FashionMNIST/FashionMNIST/raw/t10k-images-idx3-ubyte
*.mp4
*.avi
opencv-mot/out.avi
deep_sort-master/deep_sort-master/mars-small128.pb
deep_sort-master/deep_sort-master/MOT16-02.npy
deep_sort-master/deep_sort-master/MOT16-01.npy
*.txt
*.npy
*.log
*.aux
*.log
*.gz
*.png
*.h5
*.h5
*.zip
*.pdf
*.toc
*.manifest
landmark_annotation/build/keypoints/PYZ-00.pyz
landmark_annotation/build/keypoints/PKG-00.pkg
landmark_annotation/build/keypoints/xref-keypoints.html
*.exe
landmark_annotation/keypoints.spec
*.v2
tensorflow2/fit_logs/train/events.out.tfevents.1587107142.DESKTOP-82VTTJN.profile-empty
*.trace
tensorflow2/summary_logs/gradient_tape/20200417-160520/train/events.out.tfevents.1587110721.DESKTOP-82VTTJN.profile-empty
*.0
*.yaml
*.ckpt
nni/data/*
*.3
*events*
*.pth
*.tar
*.hdf5
*.npz
*.npz
neuralpredictor/data/train.npz
*.gif
NAS/AngleNAS/DARTS/darts-master/data/penn/.keep
NAS/AngleNAS/DARTS/darts-master/data/wikitext-2/.keep
NAS/AngleNAS/DARTS/darts-master/data/imagenet/.keep
NAS/nni/data/cifar-10-batches-py/data_batch_4
*.meta
NAS/nni/data/cifar-10-batches-py/data_batch_1
NAS/nni/data/cifar-10-batches-py/data_batch_2
NAS/nni/data/cifar-10-batches-py/data_batch_3
NAS/nni/data/cifar-10-batches-py/data_batch_5
NAS/nni/data/cifar-10-batches-py/readme.html
NAS/nni/data/cifar-10-batches-py/test_batch
NAS/nni/checkpoints/*
*.json