authorName: pprp
experimentName: example_mnist_pytorch
trialConcurrency: 1
maxExecDuration: 3h
maxTrialNum: 10
#choice: local, remote, pai
trainingServicePlatform: local
searchSpacePath: search_space.json
#choice: true, false
localConfig:
  useActiveGpu: true
  maxTrialNumPerGpu: 3
useAnnotation: false
logDir: /home/pdluser/project/copy_nni/examples/trials/mnist-pytorch/nniexp
tuner:
  #choice: TPE, Random, Anneal, Evolution, BatchTuner, MetisTuner, GPTuner
  #SMAC (SMAC should be installed through nnictl)
  builtinTunerName: TPE
  classArgs:
    #choice: maximize, minimize
    optimize_mode: maximize
trial:
  command: python mnist.py
  codeDir: .
  gpuNum: 0
